body {
    font-family: 'Libre Baskerville', serif!important;
}

h1 {
    text-align: center!important;
}

main {
    padding: 60px;
}

main a {
    color: rgb(115, 12, 12);
}

main a:hover {
    text-decoration: none;
    color: black;
}

.chapter {
    padding: 20px;
    margin-top: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


@media (max-width: 960px) {
    main {
        padding: 40px;
    }

    .hr-col {
        display: none;
    }

    .outline-col {
        order: 1;
        margin-bottom: 20px;
    }

    .book-col {
        order: 2;
    }

}