body {
    font-family: 'Libre Baskerville', serif!important;
}

main {
    padding: 60px;
}

main a {
    color: rgb(115, 12, 12);
}

main a:hover {
    text-decoration: none;
    color: black;
}

.chapter {
    padding: 20px;
}